@import url('./variables.css');

body {
  margin: 0px;
  background: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--primary-color);
}

header nav {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  height: 50px;
}

button {
  padding: 15px 20px;
}

header a {
  font-size: 19px;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}

.active,
header a:hover {
  background: gray;
}

main {
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  background: white;
  width: 1100px;
}

footer {
  background: var(--primary-color);
  font-size: 19.5px;
}

footer h2 {
  margin: 15px 10px 0;
  text-align: center;
}

footer p {
  font-size: 12px;
  text-align: center;
  line-height: 5px;
}

h1 {
  font-size: 21px;
  margin: 20px 0 10px;
}

h2 {
  font-size: 19px;
  margin: 20px 0;
}

h3 {
  font-size: 17px;
  margin: 0;
}

p {
  font-size: 13px;
  text-align: justify;
  margin: 10px 0;
}

.sidebar {
  width: 260px;
  padding: 20px;
}

#middle {
  width: 500px;
}

#middle img {
  width: 500px;
  height: 375px;
}

#sidebar img {
  width: 260px;
  height: 170px;
  margin: 10px 0 5px;
}

.footer--div {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer--div > div {
  background-color: white;
  margin-top: 30px;
  height: 200px;
}

footer > p {
  color: white;
  font-size: 13px;
}

.email {
  padding: 15px 0;
}

.color-white {
  color: white;
  font-size: 13px;
}