.greeting {
  display: flex;
  justify-content: center;
  background: url(../img/theme/horse-in-greeting.png) 1000px 50px no-repeat;
  background-color: #ddd;
  min-height: 850px;
}

.greeting--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.greeting--header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.greeting--header--text {
  text-align: center;
  font-size: var(--size-header);
}

.greeting--text {
  max-width: 720px;
  margin: 20px 30px;
  text-align: justify;
  font-size: var(--size-text);
}

.greeting--push-button-container {
  display: flex;
  align-items: center;
  margin: 70px 0;
}

.greeting--button {
  padding: var(--size-button);
  margin-left: 20px;
  font-size: 20px;
  border: 1px solid var(--gold-color);
  background: unset;
}

.greeting--line-with-button {
  width: 10vw;
  height: 1px;
  background-color: var(--gold-color);
  border: none;
}

.greeting--button:hover {
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
  cursor: pointer;
}

.greeting--button:hover ~ .greeting--line-with-button {
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
}

@media screen and (max-width: 768px) {
  .greeting {
    min-height: 400px;
  }

  .greeting--wrapper {
    text-align: center;
    align-items: center;
  }

  .greeting--header {
    margin-bottom: 0;
  }

  .greeting--text {
    margin: 10px 20px;
  }

  .greeting--push-button-container,
  .greeting--button {
    margin: 0;
  }

  .greeting--line-with-button {
    width: 0;
  }

  .greeting--button:hover ~ .greeting--line-with-button {
    border: none;
  }
}
