.header-with-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 30px 0;
  width: 100%;
  background: #00000036;
}

header .logo {
  width: 80px;
  height: 105px;
  margin-bottom: 25px;
}

.header-with-navigatio--nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px;
  gap: 30px;
}

.navigation-link {
  color: #b89f5c;
  font-size: 17px;
}
