.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.header--social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  min-height: 50px;
  width: 100%;
  background: #363636;
}

.social-networks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 20px;
  max-width: 200px;
  width: 100%;
}

.header--social-networks--icon {
  height: 15px;
  width: 15px;
  object-fit: contain;
}

.header--social-networks--icon:hover {
  opacity: 0.5;
}

.header--form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-right: 40px;
}

.header--form--input {
  display: flex;
  gap: 5px;
}

.header--form--email {
  border: 1px solid #b89f5c;
  background: #363636;
  color: white;
}

.header--form--submit {
  background: unset;
  color: #b89f5c;
  border: none;
}

.header--form--text {
  color: #646464;
  font-size: 13px;
  text-decoration: underline;
}

.header--social-networks--cross {
  position: absolute;
  right: 20px;
  border-width: 0;
  background-color: transparent;
  font-size: 30px;
  color: #646464;
}

.header--social-networks--cross:hover {
  cursor: pointer;
}

.header-with-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 210px;
  width: 100%;
  background: #00000050;
}

header .logo {
  margin-bottom: 25px;
}

.header-with-navigatio--nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 20px;
  gap: 0 30px;
}

.header-with-navigatio--nav li:hover {
  text-decoration: underline;
}

.navigation-link {
  color: #b89f5c;
  font-size: 17px;
}
