.more-information {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/theme/more-information-bg.png);
  text-align: center;
  min-height: 480px;
  transition: 0.3s;
}

.membership,
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  min-height: 480px;
}

.membership {
  background: #00000080;
}

.newsletter {
  background: #00000050;
}

.more-information--header {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: var(--size-header);
}

.membership--text,
.newsletter--text {
  margin-bottom: 50px;
  color: white;
  font-size: var(--size-text);
  max-width: 650px;
  width: 100%;
}

.membership--text {
  margin-top: 50px;
}

.more-information--button {
  padding: var(--size-button);
  color: white;
  font-size: 20px;
  background: var(--gold-color);
  border: 1px solid var(--gold-color);
  transition: 0.3s;
  text-transform: uppercase;
}

a.more-information--button {
  display: inline-block;
}

.more-information--button:hover {
  cursor: pointer;
  background: #52482e;
}

.newsletter .more-information--button {
  padding: 20px 0;
  width: 170px;
}

.email-form {
  display: flex;
}

.email-form--input {
  height: 67px;
  border: none;
  max-width: 280px;
  width: 100%;
  margin-right: 5px;
  padding-left: 5px;
  font-size: var(--size-text);
}

@media screen and (max-width: 768px) {
  .email-form--input {
    height: 47px;
  }

  .newsletter .more-information--button {
    padding: 10px 0;
  }

  .more-information {
    flex-direction: column;
    min-height: auto;
  }

  .membership,
  .newsletter {
    min-height: auto;
  }

  .membership--text,
  .newsletter--text {
    margin: 0;
    margin-bottom: 20px;
  }
}
