.news {
  display: flex;
  justify-content: center;
  background: url(../img/news-bg.png) center no-repeat;
  min-height: 850px;
}

.news--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.news--header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.news--header--text {
  text-align: center;
  font-size: 33px;
}

.text-under-header {
  font-size: 25px;
  text-align: center;
  margin-bottom: 80px;
}

.news--conteiner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-height: 900px;
  border-left: 1px solid #c0ab77;
}

.news--item {
  display: flex;
  margin-right: 20px;
}

.news--item--date {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
  border: 1px solid #c0ab77;
  font-size: 35px;
  color: #c0ab77;
  text-align: center;
  margin-left: 50px;
  margin-right: 30px;
}

.news--item--box {
  margin-bottom: 40px;
  max-width: 750px;
  width: 100%;
}

.news--box--header {
  font-size: var(--size-header);
  text-align: center;
}

.news--box--text {
  font-size: var(--size-text);
  margin-bottom: 10px;
}

.news--box--more {
  text-decoration: underline;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .news--item--date {
    font-size: 20px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-left: 20px;
    margin-right: 10px;
  }
}
