.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/theme/price-bg.png) no-repeat center;
  background-size: cover;
  min-height: 840px;
  padding: 20px 10px;
}

.price--header {
  display: flex;
  align-items: center;
}

.price--text {
  font-size: var(--size-text);
  max-width: 750px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.price--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px 50px;
}

.price--container--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0ab77;
}

.price--container--item-name {
  color: white;
  font-size: 18px;
  margin-top: 25px;
}

.price--container--item-value {
  color: white;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price--container--item-text {
  margin: 40px 10px;
  font-size: 18px;
  color: white;
  max-width: 270px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .price--text {
    margin-bottom: 20px;
  }

  .price--container--item-name {
    margin-top: 18px;
    font-size: 16px;
  }

  .price--container--item-value {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .price--container--item-text {
    margin: 10px;
    font-size: 14px;
  }

  .price--container--button {
    font-size: 15px;
  }
}
