#menu {
  display: flex;
  background-color: gray;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

p {
  margin: 10px;
  font-size: 17px;
  text-align: justify;
}

#menu a {
  padding: 10px 23px;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;

  color: white;
  text-decoration: none;
}

#menu a:hover,
#menu a.active {
  background-color: white;
  color: black;
}

.border--black {
  margin: 50px auto;
  width: 700px;
  border: 1px solid black;
}

p a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
  color: green;
}
