body {
    width: 1200px;
    margin: 30px auto;
}

header, div, footer, body{
    border: 1px solid black;
}

header, div, footer {
    padding: 10px;
}

header{
    height: 250px;
}

main {
    display: flex;
    height: 900px;
}

footer {
    height: 80px;
}

#sidebar {
    width: 280px;
    margin-right: 40px;
}

#content {
    width: 880px;
}