.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px 20px;
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
}

.header--logo {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 50px;
}

.header--logo-text {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-size: 30px;
  border-left: 1px solid white;
}

.header--navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.header--navigation--link,
.phone {
  color: white;
  font-size: var(--size-text);
}

.header--navigation--link:hover {
  color: var(----active-link-color);
}

.phone:hover {
  opacity: 0.6;
}
