@import url(../style/header.css);
@import url(../style/reset.css);
@import url(../style/main.css);
@import url(../style/footer.css);
@import url(../style/products.css);

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --active-link-color: #3f2414;
}

html {
  font-family: "Lora", serif;
}

.active-link {
  color: var(--active-link-color);
}

.bg {
  background: #FFFBF0;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.primary-header {
  color: black;
  font-size: 50px;
  margin: 20px;
  text-align: center;
}

.primary-text {
  max-width: 800px;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}
