.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
  background: var(--bg-color);
  position: relative;
  top: 0;
  z-index: 100;
  transition: 0.6s;
}

.loader {
  width: 100px;
  height: 100px;
  border: 8px solid var(--bg-color);
  border-radius: 50%;
  border-left-color: var(--primary-color);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

